<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Book</h1>
<a href="/book">Brack to list</a>
<div id="form">
    <form th:action="@{/book/createShowCategory}" th:object="${book}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>

        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>

        </div>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>Category</label>
            <select th:field="*{category}">
                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>
        <input type="submit" value="Create Book">
    </form>
</div>
</body>
</html>